@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Jost:ital,wght@0,100..900;1,100..900&family=Rye&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #686868;


    --color-scheme: light dark;

    /* Kleurenpalet wii controller wit:  https://www.retronintendokaufen.de/Files/2/40000/40305/ProductPhotos/Source/1146475106.jpg */
    /* Kleurenpalet wii controller zwart: https://www.retronintendokaufen.de/Files/2/40000/40305/ProductPhotos/Source/1674897526.jpg */
    --wii_color: #efefef;
    --wii_color-text: #000000;

    --wii_red_power: #c19095;
    --wii_controller_blue: #1d95ba;
    --wii_button_border_color: #c4c7cc;
    --wii_button_border_color_dark: #a7a7a7;
    --wii_light_off: #67686c;
    --wii_controller_width: 100px;
    --wii_controller_height: 442px;

    --wii_button_shadow: drop-shadow(0 2px 0px var(--wii_button_border_color_dark));
    --wii_font: 'Jost', sans-serif;

    @media (prefers-color-scheme:dark) {
        --wii_color: #2c3033;
        --wii_color-text: #ffffff;
        --wii_button_border_color_dark: #393939;
    }
}

body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body.dark-mode {
    --wii_color: #2c3033;
    --wii_color-text: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************/
/* Wii controller */
/******************/

/* Wii dimensions: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHNw2Ip8d8CU5oWvMjqvJO2AsS2SEM0ilbTA&s */
#wii {
    background-color: var(--wii_color);
    color: var(--wii_color-text);
    width: var(--wii_controller_width);
    height: var(--wii_controller_height);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Jost, sans-serif;

    transition: transform 0.4s ease;

    @media (width > 40em) and (height > 55em) {
        transform: scale(2);
    }


    @media (width > 60em) {
        transform: rotate(-90deg) scale(2);
    }

}

/****************/
/* Power Button */
/****************/
#wii_power_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;

    button {
        color: var(--wii_red_power);
        border: 1px solid var(--wii_button_border_color);
        border-radius: 50%;
        padding: 2px;
        aspect-ratio: 1/1;
        background: var(--wii_color);
    }

    p {
        font-size: 50%;
        text-transform: uppercase;
    }
}

/*********/
/* D-Pad */
/*********/
#wii_direction_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;

    button:nth-of-type(1) {
        grid-area: 1 / 2;
        border: 2px solid var(--wii_button_border_color);
        border-bottom: none;
        aspect-ratio: 1/1;
        width: 20px;
        background: var(--wii_color);
    }

    button:nth-of-type(2) {
        grid-row: 2;
        grid-column: 1;
        border: 2px solid var(--wii_button_border_color);
        border-right: none;
        filter: var(--wii_button_shadow);
        background: var(--wii_color);
    }

    button:nth-of-type(3) {
        grid-row: 2;
        grid-column: 3;
        border: 2px solid var(--wii_button_border_color);
        border-left: none;
        filter: var(--wii_button_shadow);
        background: var(--wii_color);
    }

    button:nth-of-type(4) {
        grid-row: 3;
        grid-column: 2;
        border: 2px solid var(--wii_button_border_color);
        border-top: none;
        filter: var(--wii_button_shadow);
        background: var(--wii_color);
    }

    hr {
        margin: 2px;
        height: 3px;
        border: none;
        background-color: var(--wii_button_border_color);
    }

    button:first-of-type hr,
    button:last-of-type hr {
        transform: rotate(90deg);
    }
}

/* Pressed states using group classes */
/* Top Button */
#wii_direction_buttons.top-pressed #BtnTop {transform: rotateX(22.5deg);}
#wii_direction_buttons.top-pressed #BtnLeft {filter: drop-shadow(0 4px 0 var(--wii_button_border_color_dark)); transform: rotateX(22.5deg); margin-top: -2px;}
#wii_direction_buttons.top-pressed #BtnRight {filter: drop-shadow(0 4px 0 var(--wii_button_border_color_dark)); transform: rotateX(22.5deg); margin-top: -2px;}
#wii_direction_buttons.top-pressed #BtnBottom {filter: drop-shadow(0 6px 0 var(--wii_button_border_color_dark)); transform: rotateX(-45deg); margin-top: -4px;}

/* Left Button */
#wii_direction_buttons.left-pressed #BtnLeft {transform: rotateY(-30deg) }
#wii_direction_buttons.left-pressed #BtnTop {filter: drop-shadow(4px 0 0 var(--wii_button_border_color_dark)); transform:rotateY(22.5deg); margin-left: -2px;}
#wii_direction_buttons.left-pressed #BtnBottom {filter: drop-shadow(4px 2px 0 var(--wii_button_border_color_dark)); transform:rotateY(22.5deg); margin-left: -2px; }
#wii_direction_buttons.left-pressed #BtnRight {transform: rotateY(-30deg); filter: drop-shadow(3px 2px 0 var(--wii_button_border_color_dark));  margin-left: -4px;}

/* Right Button */
#wii_direction_buttons.right-pressed #BtnRight {transform: rotateY(-22.5deg) }
#wii_direction_buttons.right-pressed #BtnTop { filter: drop-shadow(-4px 0 var(--wii_button_border_color_dark)); transform:rotateY(-22.5deg); margin-right: -2px;}
#wii_direction_buttons.right-pressed #BtnBottom { filter: drop-shadow(-4px 2px 0 var(--wii_button_border_color_dark)); transform:rotateY(-22.5deg); margin-right: -2px;}
#wii_direction_buttons.right-pressed #BtnLeft {transform: rotateY(30deg); filter: drop-shadow(-3px 2px 0 var(--wii_button_border_color_dark)); margin-right: -4px;}

/* Bottom Button */
#wii_direction_buttons.bottom-pressed #BtnBottom {filter: drop-shadow(0 0px 0 var(--wii_button_border_color_dark));}
#wii_direction_buttons.bottom-pressed #BtnLeft {filter: drop-shadow(0 -2px 0 var(--wii_button_border_color_dark)); transform: rotateX(-22.5deg); margin-bottom: -2px;}
#wii_direction_buttons.bottom-pressed #BtnRight {filter: drop-shadow(0 -2px 0 var(--wii_button_border_color_dark)); transform: rotateX(-22.5deg); margin-bottom: -2px;}
#wii_direction_buttons.bottom-pressed #BtnTop { filter: drop-shadow(0 -2px 0 var(--wii_button_border_color_dark)); transform: rotateX(40deg);}



/************/
/* A Button */
/************/
#wii_A_button {
    button {
        aspect-ratio: 1/1;
        width: 35px;
        border: 2px solid var(--wii_button_border_color);
        border-radius: 50%;
        text-align: center;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: var(--wii_button_shadow);
        background: var(--wii_color);
        color: var(--wii_color-text);
    }

    button:active {
        filter: inner-shadow(0 0 0px var(--wii_button_border_color_dark));
        transform: translateY(2px);
    }

}



/*****************/
/* Center Button */
/*****************/
/** - Home + **/
#wii_center_buttons {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}

#wii_center_buttons section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wii_center_buttons>button,
#wii_center_buttons section>button>i {
    border: 2px solid var(--wii_button_border_color);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wii_center_buttons>section button {
    border: none;
    background-color: var(--wii_color);
}

#wii_center_buttons section {
    font-size: 10px;
    text-transform: uppercase;

}

#wii_center_buttons i {
    color: var(--wii_controller_blue);
}

#wii_center_buttons {
    >button {
        filter: var(--wii_button_shadow);
        background: var(--wii_color);
        color: var(--wii_color-text);
    }

    button:active {
        filter: inner-shadow(0 0 0px var(--wii_button_border_color_dark));
        transform: translateY(2px);
    }
}



/***************/
/* Sound Holes */
/***************/
#wii_sound_holes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.wii_hole_big div {
    width: 5px;
}

.wii_hole_medium div {
    width: 3px;
}

.wii_hole_small div {
    width: 1.5px;
}

.wii_hole_small,
.wii_hole_medium,
.wii_hole_big {
    display: flex;
    justify-content: space-around;
    gap: 2px;

    div {
        aspect-ratio: 1/1;
        background: black;
        border-radius: 50%;
    }
}


/***************/
/* 1/2 Buttons */
/***************/
#wii_1_2_buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#wii_1_2_buttons * {
    border: 2px solid var(--wii_button_border_color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 25px;
    text-align: center;
    filter: var(--wii_button_shadow);
    background: var(--wii_color);
    color: var(--wii_color-text);

}

/*****************/
/* Player Lights */
/*****************/
#wii_player_lights {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    margin-top: 30px;

    * {
        aspect-ratio: 1 / 1;
        width: 8px;
        background: var(--wii_light_off);
    }

    div:first-of-type {
        background: var(--wii_controller_blue);
        filter: drop-shadow(0px 0px 3px var(--wii_controller_blue));
    }
}


/************/
/* Wii Text */
/************/
#wii_text {
    margin-top: 5px;
    font-size: 20px;
}

/***********/
/* Pop-ups */
/***********/


.popup-inner {
    width: 20em;
    background: var(--wii_color);
    color: var(--wii_color-text);
    border: 5px solid var(--wii_button_border_color);
    border-radius: 20px;
    ;
    font-family: var(--wii_font);
    filter: drop-shadow(0 1em 0.5em var(--wii_button_border_color_dark));
    padding: 1em;

    p {
        margin-top: 1em;
    }

    div ul {
        list-style: none;
    }

    @media (width > 40em) {
        width: 30em;
    }
}

article[popover] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*********************/
/* Pop-up Animations */
/*********************/


/* Code found on Animista.com */
/* Slide Forward Top */
.slide-fwd-top {
    -webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-top {
    0% {
        -webkit-transform: translateZ(0) translateY(0) scale(0.8);
        transform: translateZ(0) translateY(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateY(-100px) scale(1);
        transform: translateZ(160px) translateY(-100px) scale(1);
    }
}

@keyframes slide-fwd-top {
    0% {
        -webkit-transform: translateZ(0) translateY(0) scale(0.8);
        transform: translateZ(0) translateY(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateY(-100px) scale(1);
        transform: translateZ(160px) translateY(-100px) scale(1);
    }
}


/* Slide Forward Left */
.slide-fwd-left {
    -webkit-animation: slide-fwd-left 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-left 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-left {
    0% {
        -webkit-transform: translateZ(0) translateX(0) scale(0.8);
        transform: translateZ(0) translateX(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateX(-100px) scale(1);
        transform: translateZ(160px) translateX(-100px) scale(1);
    }
}

@keyframes slide-fwd-left {
    0% {
        -webkit-transform: translateZ(0) translateX(0) scale(0.8);
        transform: translateZ(0) translateX(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateX(-100px) scale(1);
        transform: translateZ(160px) translateX(-100px) scale(1);
    }
}

/* Slide Forward Right */
.slide-fwd-right {
    -webkit-animation: slide-fwd-right 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-right 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-right {
    0% {
        -webkit-transform: translateZ(0) translateX(0) scale(0.8);
        transform: translateZ(0) translateX(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateX(100px) scale(1);
        transform: translateZ(160px) translateX(100px) scale(1);
    }
}

@keyframes slide-fwd-right {
    0% {
        -webkit-transform: translateZ(0) translateX(0) scale(0.8);
        transform: translateZ(0) translateX(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateX(100px) scale(1);
        transform: translateZ(160px) translateX(100px) scale(1);
    }
}

/* Slide Forward Bottom */
.slide-fwd-bottom {
    -webkit-animation: slide-fwd-bottom 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-bottom 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0) scale(0.8);
        transform: translateZ(0) translateY(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateY(100px) scale(1);
        transform: translateZ(160px) translateY(100px) scale(1);
    }
}

@keyframes slide-fwd-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0) scale(0.8);
        transform: translateZ(0) translateY(0) scale(0.8);
    }

    100% {
        -webkit-transform: translateZ(160px) translateY(100px) scale(1);
        transform: translateZ(160px) translateY(100px) scale(1);
    }
}

/******************/
/* Wii Animations */
/******************/

/* Rotate clockwise twice */
.rotate-clockwise {
    -webkit-animation: rotate-clockwise 0.6s ease-in-out both;
    animation: rotate-clockwise 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes rotate-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

/* Rotate counterclockwise twice */
.rotate-counterclockwise {
    -webkit-animation: rotate-counterclockwise 0.6s ease-in-out both;
    animation: rotate-counterclockwise 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-counterclockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}